conf = {
    'WEB_BASE': '/var/www',
    'UPLOAD_BASE': '/opt/repo-updater',
    'UPLOADED_BY': 'Boundless',
    'DOMAIN_TLD': 'qgis.boundlessgeo.com',
    'DOMAIN_TLD_DEV': 'qgis-dev.boundlessgeo.com',
    'DOMAIN_TLD_BETA': 'qgis-beta.boundlessgeo.com',
}
